[33mWarning: poetry-plugin-export will not be installed by default in a future version of Poetry.
In order to avoid a breaking change and make your automation forward-compatible, please install poetry-plugin-export explicitly. See https://python-poetry.org/docs/plugins/#using-plugins for details on how to install a plugin.
To disable this warning run 'poetry config warnings.export false'.[39m
[33mThe lock file might not be compatible with the current version of Poetry.
Upgrade Poetry to ensure the lock file is read properly or, alternatively, regenerate the lock file with the `poetry lock` command.[39m
amqp==5.3.1 ; python_version >= "3.11" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.12"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==25.3.0 ; python_version >= "3.11" and python_version < "3.12"
billiard==4.2.1 ; python_version >= "3.11" and python_version < "3.12"
boto3==1.38.6 ; python_version >= "3.11" and python_version < "3.12"
botocore==1.38.6 ; python_version >= "3.11" and python_version < "3.12"
celery==5.5.2 ; python_version >= "3.11" and python_version < "3.12"
certifi==2025.4.26 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.11" and python_version < "3.12"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "3.12"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "3.12"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.8 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
cron-descriptor==1.4.5 ; python_version >= "3.11" and python_version < "3.12"
dj-database-url==2.3.0 ; python_version >= "3.11" and python_version < "3.12"
django-celery-beat==2.8.0 ; python_version >= "3.11" and python_version < "3.12"
django-cors-headers==4.7.0 ; python_version >= "3.11" and python_version < "3.12"
django-environ==0.11.2 ; python_version >= "3.11" and python_version < "3.12"
django-extensions==3.2.3 ; python_version >= "3.11" and python_version < "3.12"
django-filter==24.3 ; python_version >= "3.11" and python_version < "3.12"
django-fsm==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
django-ipware==7.0.1 ; python_version >= "3.11" and python_version < "3.12"
django-redis==5.4.0 ; python_version >= "3.11" and python_version < "3.12"
django-structlog==8.1.0 ; python_version >= "3.11" and python_version < "3.12"
django-timezone-field==7.1 ; python_version >= "3.11" and python_version < "3.12"
django==5.2 ; python_version >= "3.11" and python_version < "3.12"
djangorestframework-camel-case==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
djangorestframework==3.16.0 ; python_version >= "3.11" and python_version < "3.12"
dnspython==2.7.0 ; python_version >= "3.11" and python_version < "3.12"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "3.12"
drf-spectacular==0.28.0 ; python_version >= "3.11" and python_version < "3.12"
drf-standardized-errors[openapi]==0.14.1 ; python_version >= "3.11" and python_version < "3.12"
email-validator==2.2.0 ; python_version >= "3.11" and python_version < "3.12"
filetype==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
flower==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
gunicorn==23.0.0 ; python_version >= "3.11" and python_version < "3.12"
humanize==4.12.3 ; python_version >= "3.11" and python_version < "3.12"
idna==3.10 ; python_version >= "3.11" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-specifications==2025.4.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "3.12"
kombu==5.5.3 ; python_version >= "3.11" and python_version < "3.12"
markdown==3.8 ; python_version >= "3.11" and python_version < "3.12"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.12"
pillow==11.2.1 ; python_version >= "3.11" and python_version < "3.12"
prometheus-client==0.21.1 ; python_version >= "3.11" and python_version < "3.12"
prompt-toolkit==3.0.51 ; python_version >= "3.11" and python_version < "3.12"
psycopg2==2.9.10 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_version < "3.12"
pydantic-extra-types==2.10.4 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.11.4 ; python_version >= "3.11" and python_version < "3.12"
pydantic[email]==2.11.4 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.19.1 ; python_version >= "3.11" and python_version < "3.12"
python-crontab==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
python-ipware==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.12"
redis==6.0.0 ; python_version >= "3.11" and python_version < "3.12"
referencing==0.36.2 ; python_version >= "3.11" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.12"
rpds-py==0.24.0 ; python_version >= "3.11" and python_version < "3.12"
s3transfer==0.12.0 ; python_version >= "3.11" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.12"
sqids==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
sqlparse==0.5.3 ; python_version >= "3.11" and python_version < "3.12"
structlog==24.4.0 ; python_version >= "3.11" and python_version < "3.12"
tornado==6.4.2 ; python_version >= "3.11" and python_version < "3.12"
typeguard==4.4.2 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_version < "3.12"
typing-inspection==0.4.0 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.4.0 ; python_version >= "3.11" and python_version < "3.12"
vine==5.1.0 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
